services:
  db:
    image: postgres:17
    ports:
      - 5432:5432
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres

  redis:
    image: redis:7-alpine
    ports:
      - '6379:6379'
    command: redis-server --appendonly yes
    healthcheck:
      test: ['CMD', 'redis-cli', 'ping']
      interval: 5s
      timeout: 3s
      retries: 5
    restart: unless-stopped

  vector:
    image: qdrant/qdrant
    ports:
      - 6333:6333 # REST API (worker uses this)
      - 6334:6334 # gRPC (optional)

  minio:
    image: minio/minio
    container_name: omni_minio
    ports:
      - '9000:9000' # API port
      - '9001:9001' # Console port
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    command: server /data --console-address ":9001"
    healthcheck:
      test: ['CMD', 'curl', '-f', 'http://localhost:9000/minio/health/ready']
      interval: 10s
      timeout: 5s
      retries: 5
  # --- Init Script for MinIO ---

  createbuckets:
    image: minio/mc
    depends_on:
      minio:
        condition: service_healthy
    entrypoint:
      - /bin/sh
      - -c
      - |
        until /usr/bin/mc alias set myminio http://minio:9000 minioadmin minioadmin; do
          echo "Waiting for MinIO...";
          sleep 2;
        done
        /usr/bin/mc mb myminio/omni-rag-documents || true
        /usr/bin/mc anonymous set public myminio/omni-rag-documents || true
        exit 0

volumes:
  redis_data:
